<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732385430623-fqlo6llgaen7t2qbg1b2852v7so1gjfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732385430623-fqlo6llgaen7t2qbg1b2852v7so1gjfk</string>
	<key>API_KEY</key>
	<string>AIzaSyBeTc84PR6ARBHMJlSwkBeV2TFDmz_YYUw</string>
	<key>GCM_SENDER_ID</key>
	<string>732385430623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crmnalonso.StudyAssistant</string>
	<key>PROJECT_ID</key>
	<string>studyassistant-5ce80</string>
	<key>STORAGE_BUCKET</key>
	<string>studyassistant-5ce80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732385430623:ios:5e5d1b47b016d67414dfea</string>
</dict>
</plist>